* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.first-content-title {
  color: #1a73e8;
}

a,
a:visited {
  color: inherit;
}

section {
  padding: 1em 0;
  border-bottom: solid 0.08em #f1f3f4;
}
//nav
header {
  padding: 0.5em 1em;
  box-shadow: 0 1px 5px grey;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 0.3em;
}

// icon
i {
  color: #595959;
}

.menu-bar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
}

.menu-bar {
  margin-left: 0;
  i {
    margin: auto;
  }
}

img {
  width: 185px;
  height: 32px;
  overflow: hidden;
}

.search i {
  font-size: 24px;
}

.search {
  margin-left: auto;
}

.more-info-icon,
.user-icon {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  position: relative;
}

.more-info-icon {
  border: solid 0.1em #dadce0;
}

.more-info-icon-item {
  margin: auto;
}

.more-info-icon-item,
.more-info-icon-item::before,
.more-info-icon-item::after {
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #5f6368;
}

.more-info-icon-item::before,
.more-info-icon-item::after {
  position: absolute;
  content: "";
}

.more-info-icon-item::before {
  transform: translateY(5px);
}

.more-info-icon-item::after {
  transform: translateY(-5px);
}

.user-icon {
  background-color: #5c6bc0;
  color: #fff;
}

.user-name {
  margin: auto;
}

.user-info {
  margin-right: 0;
}

// motion
.more-info-icon:hover,
.menu-bar:hover {
  background-color: #e8eaed;
  transition: 0.2s;
}

// first-section
.first-body {
  padding: 0 1em;
}

figure {
  margin: 2.5em auto;
  img {
    width: 100vw;
    max-width: 100%;
    aspect-ratio: 720 / 416;
    vertical-align: middle;
    height: auto;
    margin: 0;
    padding: 0;
  }
}

.first-content {
  margin-top: 2em;
}

.first-content-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 40px;
  font-weight: 400;
  font-size: 30px;
}

.first-content-description {
  line-height: 1.5em;
}

.first-content-button {
  padding-top: 2em;
  a {
    color: #fff;
    background-color: #1a73e8;
    line-height: 36px;
    width: 151.917px;
    padding: 0 1.5em;
    margin: 4px 4px 4px 0;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
  }
}